@import 'src/styles/variables';
@import 'src/styles/mixins';

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;

    @include media($xs...) {
      font-size: 48px;
    }
  }

  .subtitle {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px 0;

    @include media($xs...) {
      font-size: 30px;
    }
  }
}
