$primary-color: #b8d8d8;
$secondary-color: #112b3c;
$text-color: #205375;
$background-color: #efefef;
$secondary-background-color: #f66b0e;

$breakpoints: (
  phone: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptopL: 1440px,
);

$xs: '<=phone';
$sm: '>phone', '<=tablet';
$md: '>tablet', '<=laptop';
$lg: '>laptop', '<=laptopL';
$xl: '>laptopL';

:root {
  --toastify-color-progress-light: #112b3c !important;
  --toastify-color-light: #f66b0e !important;
  --toastify-text-color-light: #112b3c !important;
}
