@import 'src/styles/variables';
@import 'src/styles/mixins';

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    .buttonGroup {
      margin: 16px;
      display: flex;
      flex-direction: row;

      @include media($xs...) {
        margin: 16px 0;
        flex-direction: column;
      }
    }
  }
}
