@import 'src/styles/variables';
@import 'src/styles/mixins';

.textInputContainer {
  margin: 16px 0;
  display: flex;
  flex-direction: column;

  input {
    background-color: $primary-color;
    border: 0;
    padding: 16px;
    border-radius: 10px;
    color: $text-color;
    font-size: large;

    &::placeholder {
      color: $text-color;
    }

    &:focus {
      outline: 1px solid $secondary-color;
    }
  }

  .error {
    margin: 2px 5px 0 5px;
    font-size: small;
    color: $secondary-background-color;
    text-transform: capitalize;
  }
}
