@import 'src/styles/variables';
@import 'src/styles/mixins';

.pitchDeckContainer {
  @include media('<=tablet') {
    padding: 0 16px;
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 0;

    .image {
      height: auto;
      width: 35%;
      margin: 15px 0;

      @include media('<=tablet') {
        width: 100%;
      }
    }
  }
}
