@import 'src/styles/variables';
@import 'src/styles/mixins';

.listPitchDecksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .listContainer,
  .searchBar {
    width: 35%;

    @include media('<=tablet') {
      width: 100%;
    }
  }
}
