@import 'src/styles/variables';
@import 'src/styles/mixins';

.publishPitchDeckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .formContainer {
    display: flex;
    flex-direction: column;

    @include media($xs...) {
      width: 100%;
    }

    .buttonGroup {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button {
        @include media($xs...) {
          width: 100%;
        }
      }

      @include media($xs...) {
        flex-direction: column;
      }
    }
  }
}
